body {
  margin: 0%;
}

#box1 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background: lightblue;
  padding: 10px;
  font-family: "comic sans ms";
  font-size: large;
  /*
  margin-top: 50px;
  margin-left: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  
  /* Shorthand for margin   || Can be used by % (Percentage) or px (Pixels) 
  margin: 50px;
  */
  margin-left: auto;
  margin-right: auto; /* Centering the box horizontally */
}
#box2 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background: lightcoral;
  padding: 10px;
  margin-top: 30px;
  margin-left: 100px;
  font-family: "comic sans ms";
  font-size: large;
}
