/* using of text shadow
            x-axis  y-axis  blur-radius color
by using :  0px 0px 5px #FF0000 or color name ;
 syntax: text-shadow: horizontal-shadow vertical-shadow blur-radius color;

*/

h1 {
  text-shadow: 0px 0px 5px goldenrod, 0px -5px 5px red;
  box-shadow: 5px 5px 5px black;
}
h1:hover {
  text-shadow: 5px 5px 5px blue;
}
