h2 {
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-left-style: double;
  border-right-style: double;
  border-left-width: 8px;
  border-right-width: 8px;
  border-left-color: blue;
  border-top-color: blue;
  border-bottom-color: tomato;
  border-right-color: tomato;
}

p {
  border-style: groove;
  border-width: 4px;
  border-color: orangered;
  border-radius: 20px;
  padding: 5px;
}
