#box1 {
  height: 250px;
  width: 250px;
  background-color: red;
  font-size: 225px;
  text-align: center;
  /*
  animation: mySlide;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
  */
  /* animation: 3s linear 0s infinite running mySlide;
  /* shorthand version of the above */

  animation: 3s linear 0s infinite running myRotate;
}

#box1:hover {
}

#box1:active {
}

@keyframes mySlide {
  from {
    margin-left: 1%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes myRotate {
  100% {
    /*transform: rotateX(360deg);*/
    /*transform: rotateY(360deg);*/
    /* transform: rotateZ(360deg);*/
  }
}
